.pagehelper { position:relative;width:75%;margin:auto;padding:6px 28px 6px 4px;border:1px solid #204B87;border-radius:3px 3px;background-color:#FFFFFF;cursor:pointer;text-align:justify }
.pagehelper { font-family:Verdana,Arial,Helvetica,sans-serif;font-size:12px;color:#000000 }
.pagehelper a, .pagehelpercontent a:link, .pagehelpercontent a:visited { color:#000000;text-decoration:none }
.pagehelper a:active, .pagehelpercontent a:hover, .pagehelpercontent a:focus { color:#204B87;text-decoration:none }

.pagehelperactivator { font-family:Verdana,Arial,Helvetica,sans-serif;font-size:10px }
.pagehelperactivator a, .pagehelperactivator a:link, .pagehelperactivator a:visited { text-decoration:none }
.pagehelperactivator a:active, .pagehelperactivator a:hover, .pagehelperactivator a:focus { text-decoration:underline }

.pagehelpericon { position:absolute;top:-12px;right:-8px }