# secured WebGine
# net-based application engine

# Source file or directory to parse
#source: ../php
# Use a generated source tree directory

# Directory where to save the generated documentation
destination: ../_extras/devmanual.php
# Mask to exclude file or directory from processing
exclude:
 - *system/classes/dNG/sWG/directActionParserCmd.php
 - *system/classes/dNG/sWG/directIHandlerCmd.php
 - *system/classes/dNG/sWG/directOHandlerCmd.php
 - *system/osets/*

# Title of generated documentation
title: Developer's Manual

# Generate documentation for PHP internal classes
php: Yes
# Generate tree view of classes, interfaces and exceptions
tree: Yes
# Generate documentation for deprecated classes, methods, properties and constants
deprecated: Yes
# Generate highlighted source code files
sourceCode: No
# Add a link to download documentation as a ZIP archive
download: No

# Wipe out the destination directory first
wipeout: Yes
# Don't display scanning and generating messages
quiet: No
# Display progressbars
progressbar: No
# Use colors
colors: No
# Check for update
updateCheck: No
# Display additional information in case of an error
debug: No

# EOF